
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
  </head>
  <body>
    
    <nav>
      <h1>List Data Mahasiswa</h1>
      <ul>
        <li><a href="/" >Home</a></li>
        <li><a href="/tambah">Tambah Data</a></li>
        <li><a href="/list" class="active">List Data</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <div class="content">
      <table class="styled-table">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Tgl Lahir</th>
                <th>Jenis Kelamin</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>wahyu padli</td>
                <td>kembangare/sakrabarat/Lotim</td>
                <td>2022-11-11</td>
                <td>Laki-Laki</td>
                <td>boneto@GAMIL.COM</td> 
            </tr>
    

        </tbody>
    </table>
      
    </div>
  </body>
</html>
